<!doctype html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Final Design</title>
   <meta name="viewport" content="width=device-width, initial-scale=1"/>

   <link href='https://fonts.googleapis.com/css?family=Lato:100,300,400' rel='stylesheet' type='text/css'>
   <link rel="stylesheet" href="/app.css"/>
</head>
<body class="final-design">
<div class="container">
   <header class="clearfix">
      <div class="menu-wrapper">
         <a class="menu-handle" href="javascript:void(0)" data-toggle="dropdown">
            <span class="icon"></span>
         </a>
         <ul class="menu">
            <li class="active">
               <a href="javascript:void(0)">
                  <span class="text">inbox</span>
                  <span class="badge">10</span>
               </a>
            </li>
            <li>
               <a href="javascript:void(0)">
                  <span class="text">sent</span>
               </a>
            </li>
            <li>
               <a href="javascript:void(0)">
                  <span class="text">drafts</span>
                  <span class="badge">2</span>
               </a>
            </li>
            <li>
               <a href="javascript:void(0)">
                  <span class="text">trash</span>
               </a>
            </li>
            <li>
               <a href="javascript:void(0)">
                  <span class="text">junk</span>
                  <span class="badge">3</span>
               </a>
            </li>
         </ul>
      </div>
      <div class="profile">
         <div class="details">
            <span class="name">Sherlock Holmes</span>
            <span class="email">sherlock@bakerstreet.uk</span>
         </div>
         <div class="pic"></div>
      </div>
   </header>

   <section class="sub-header">
      <ul class="folders">
         <li class="active">
            <a href="javascript:void(0)">
               <span class="badge grey">389</span>
               <span class="title">all</span>
            </a>
         </li>
         <li>
            <a href="javascript:void(0)">
               <span class="badge orange">67</span>
               <span class="title">work</span>
            </a>
         </li>
         <li>
            <a href="javascript:void(0)">
               <span class="badge green">55</span>
               <span class="title">travel</span>
            </a>
         </li>
         <li>
            <a href="javascript:void(0)">
               <span class="badge purple">24</span>
               <span class="title">personal</span>
            </a>
         </li>
      </ul>
   </section>

   <section class="content">
      <div class="email-list">
         <div class="email-item">
            <div class="head-section clearfix">
               <div class="pic"></div>
               <div class="details">
                  <span class="name">Sherlock Holmes</span>
                  <span class="email">sherlock@bakerstreet.uk</span>
               </div>
            </div>
            <div class="copy">
               <div class="title">
                  A Study in pink
               </div>
               <div class="text">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium adipisci alias beatae
                  consequuntur corporis dolore doloremque ea eaque enim eum facilis hic id ipsam ipsum labore...
               </div>
            </div>
            <div class="meta">
               25 Jul 2010
            </div>
         </div>
         <div class="email-item">
            <div class="head-section clearfix">
               <div class="pic"></div>
               <div class="details">
                  <span class="name">Sherlock Holmes</span>
                  <span class="email">sherlock@bakerstreet.uk</span>
               </div>
            </div>
            <div class="copy">
               <div class="title">
                  The Blind Banker
               </div>
               <div class="text">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium adipisci alias beatae
                  consequuntur corporis dolore doloremque ea eaque enim eum facilis hic id ipsam ipsum labore...
               </div>
            </div>
            <div class="meta">
               1 Aug 2010
            </div>
         </div>
         <div class="email-item">
            <div class="head-section clearfix">
               <div class="pic"></div>
               <div class="details">
                  <span class="name">Sherlock Holmes</span>
                  <span class="email">sherlock@bakerstreet.uk</span>
               </div>
            </div>
            <div class="copy">
               <div class="title">
                  The Great Game
               </div>
               <div class="text">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium adipisci alias beatae
                  consequuntur corporis dolore doloremque ea eaque enim eum facilis hic id ipsam ipsum labore...
               </div>
            </div>
            <div class="meta">
               8 Aug 2010
            </div>
         </div>
         <div class="email-item">
            <div class="head-section clearfix">
               <div class="pic"></div>
               <div class="details">
                  <span class="name">Sherlock Holmes</span>
                  <span class="email">sherlock@bakerstreet.uk</span>
               </div>
            </div>
            <div class="copy">
               <div class="title">
                  A Scandal in Belgravia
               </div>
               <div class="text">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium adipisci alias beatae
                  consequuntur corporis dolore doloremque ea eaque enim eum facilis hic id ipsam ipsum labore...
               </div>
            </div>
            <div class="meta">
               1 Jan 2012
            </div>
         </div>
         <div class="email-item">
            <div class="head-section clearfix">
               <div class="pic"></div>
               <div class="details">
                  <span class="name">Sherlock Holmes</span>
                  <span class="email">sherlock@bakerstreet.uk</span>
               </div>
            </div>
            <div class="copy">
               <div class="title">
                  The hounds of baskerville
               </div>
               <div class="text">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium adipisci alias beatae
                  consequuntur corporis dolore doloremque ea eaque enim eum facilis hic id ipsam ipsum labore...
               </div>
            </div>
            <div class="meta">
               8 Jan 2012
            </div>
         </div>
         <div class="email-item">
            <div class="head-section clearfix">
               <div class="pic"></div>
               <div class="details">
                  <span class="name">Sherlock Holmes</span>
                  <span class="email">sherlock@bakerstreet.uk</span>
               </div>
            </div>
            <div class="copy">
               <div class="title">
                  The Reichenbach Fall
               </div>
               <div class="text">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium adipisci alias beatae
                  consequuntur corporis dolore doloremque ea eaque enim eum facilis hic id ipsam ipsum labore...
               </div>
            </div>
            <div class="meta">
               15 Jan 2012
            </div>
         </div>
         <div class="email-item">
            <div class="head-section clearfix">
               <div class="pic"></div>
               <div class="details">
                  <span class="name">Sherlock Holmes</span>
                  <span class="email">sherlock@bakerstreet.uk</span>
               </div>
            </div>
            <div class="copy">
               <div class="title">
                  The Empty Hearse
               </div>
               <div class="text">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium adipisci alias beatae
                  consequuntur corporis dolore doloremque ea eaque enim eum facilis hic id ipsam ipsum labore...
               </div>
            </div>
            <div class="meta">
               1 Jan 2014
            </div>
         </div>
         <div class="email-item">
            <div class="head-section clearfix">
               <div class="pic"></div>
               <div class="details">
                  <span class="name">Sherlock Holmes</span>
                  <span class="email">sherlock@bakerstreet.uk</span>
               </div>
            </div>
            <div class="copy">
               <div class="title">
                  The Sign of Three
               </div>
               <div class="text">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium adipisci alias beatae
                  consequuntur corporis dolore doloremque ea eaque enim eum facilis hic id ipsam ipsum labore...
               </div>
            </div>
            <div class="meta">
               5 Jan 2014
            </div>
         </div>
         <div class="email-item">
            <div class="head-section clearfix">
               <div class="pic"></div>
               <div class="details">
                  <span class="name">Sherlock Holmes</span>
                  <span class="email">sherlock@bakerstreet.uk</span>
               </div>
            </div>
            <div class="copy">
               <div class="title">
                  His Last Vow
               </div>
               <div class="text">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium adipisci alias beatae
                  consequuntur corporis dolore doloremque ea eaque enim eum facilis hic id ipsam ipsum labore...
               </div>
            </div>
            <div class="meta">
               12 Jan 2014
            </div>
         </div>

      </div>
   </section>
</div>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
</body>
</html>