<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Design-for-devs</title>
   <meta name="viewport" content="width=device-width, initial-scale=1"/>

   <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
   <link rel="stylesheet" href="/app.css"/>
</head>
<body>
   <h1>Positioning</h1>

   <div class="grand-parent">

      <div class="parent">

         <div class="child">

         </div>

      </div>

   </div>
</body>
</html>