* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff; }

h1, h2, h3 {
  font-weight: 300; }

h1 {
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  text-align: center; }

.final-design {
  font-size: 100%;
  font-family: 'Lato', 'Open Sans', sans-serif; }
.final-design header {
  background-color: #2e3d54; }
.final-design header .menu-wrapper {
  float: left; }
.final-design header .menu-wrapper .menu-handle {
  display: none; }
.final-design header .menu-wrapper ul.menu {
  list-style: none;
  overflow: hidden; }
.final-design header .menu-wrapper ul.menu li {
  float: left; }
.final-design header .menu-wrapper ul.menu li.active a {
  font-weight: 400; }
.final-design header .menu-wrapper ul.menu li a {
  padding: 20px;
  display: inline-block;
  text-decoration: none;
  font-weight: 100;
  color: #fff; }
.final-design header .menu-wrapper ul.menu li a .text {
  font-size: 1.2em;
  text-transform: capitalize; }
.final-design header .menu-wrapper ul.menu li a .badge {
  font-size: 0.8em;
  padding: 2px 5px;
  background-color: #526176;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  top: -2px; }
.final-design header .menu-wrapper ul.menu li a:hover {
  background-color: #1f2d42; }
.final-design header .profile {
  float: right;
  padding: 10px; }
.final-design header .profile .details {
  float: left;
  margin: 0 10px;
  line-height: 1.4em; }
.final-design header .profile .details span {
  display: block;
  color: #fff;
  font-weight: 300;
  text-align: right; }
.final-design header .profile .details span.name {
  font-weight: 400; }
.final-design header .profile .details span.email {
  color: #ccc; }
.final-design header .profile .pic {
  float: right;
  width: 45px;
  height: 45px;
  background-color: #eee;
  display: inline-block;
  border-radius: 50%; }
.final-design section.sub-header {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  text-align: center; }
.final-design section.sub-header .folders {
  list-style: none;
  margin: 0 auto;
  overflow: hidden; }
.final-design section.sub-header .folders li {
  display: inline-block; }
.final-design section.sub-header .folders li.active a {
  font-weight: 400;
  background-color: #eee;
  color: #000; }
.final-design section.sub-header .folders li a {
  display: block;
  padding: 20px 10px;
  text-decoration: none;
  color: #333;
  font-weight: 300; }
.final-design section.sub-header .folders li a:hover {
  background-color: #f5f5f5; }
.final-design section.sub-header .folders li a .badge {
  position: relative;
  font-size: 0.8em;
  color: #fff;
  font-weight: 300;
  padding: 2px 3px;
  border-radius: 3px; }
.final-design section.sub-header .folders li a .badge.grey {
  background-color: #adb0b5; }
.final-design section.sub-header .folders li a .badge.green {
  background-color: #29d462; }
.final-design section.sub-header .folders li a .badge.orange {
  background-color: #fdb83f; }
.final-design section.sub-header .folders li a .badge.purple {
  background-color: #c059e8; }
.final-design section.sub-header .folders li a .title {
  text-transform: capitalize; }

.clearfix::after {
  content: "";
  display: block;
  width: 100%;
  clear: both; }

@media screen and (max-width: 767px) {
  .final-design header {
    position: relative; }
  .final-design header .menu-wrapper .menu-handle {
    display: inline-block;
    padding: 20px 10px;
    margin-top: 10px;
    margin-left: 20px; }
  .final-design header .menu-wrapper .menu-handle .icon {
    height: 4px;
    border-radius: 3px;
    position: relative;
    display: block;
    width: 35px;
    background-color: white; }
  .final-design header .menu-wrapper .menu-handle .icon::after {
    top: -12px;
    content: "";
    height: 4px;
    border-radius: 3px;
    left: 0;
    background: white;
    position: absolute;
    width: 35px; }
  .final-design header .menu-wrapper .menu-handle .icon::before {
    top: 12px;
    content: "";
    height: 4px;
    border-radius: 3px;
    left: 0;
    background: white;
    position: absolute;
    width: 35px; }
  .final-design header .menu-wrapper.open ul.menu {
    display: block;
    width: 70%;
    max-width: 250px; }
  .final-design header .menu-wrapper ul.menu {
    display: none;
    z-index: 101;
    position: absolute;
    top: 65px;
    left: 0;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }
  .final-design header .menu-wrapper ul.menu li {
    float: none; }
  .final-design header .menu-wrapper ul.menu li a {
    display: block;
    color: #333; }
  .final-design header .menu-wrapper ul.menu li a:hover {
    color: #fff; } }
